.DS_Store
node_modules/
build/
config/
src/
static/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
index.html
package-lock.json
package.json
.gitignor

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
